@using OneCenter.Resource

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <h1>@OneCenterResource.Test</h1>
</body>
</html>